.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 98%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #34d082; /* Adjust color as needed */
  justify-content: space-between;
  z-index: 1000;
}

.navbar-logo {
  margin-right: auto;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.71);
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: rgba(0, 0, 0, 0.71);
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
}

.navbar-links a:hover {
  text-decoration: dotted;
  color: rgb(65, 65, 65);
  font-weight: 700;
  font-size: large;
}

.logo {
  height: 45px;
  border-radius: 20px;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Hide links on small screens */
  }

  .menu-icon {
    display: block; /* Show toggle button on small screens */
  }

  .navbar-links.active {
    display: flex;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 100%;
    height: calc(100vh - 60px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.95;
    z-index: 9999; /* Ensure dropdown is above other content */
  }

  .navbar-links li {
    margin: 20px 0;
  }
}
