.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #34d082; /* Adjust color as needed */
}

.navbar-logo {
  margin-right: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: rgba(0, 0, 0, 0.71);
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
}

.navbar-links a:hover {
  text-decoration: dotted;
  color: rgb(65, 65, 65);
  font-weight: 700;
  font-size: large;
}

.logo {
  height: 45px;
  /*Adjustthesizeasneeded*/
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
